<div id="content" class="col-md-12 col-sm-8 show-document">
  <h1>New Block</h1>

  <%= render 'form', admin: @admin %>

  <%= link_to 'Cancel', {:controller => 'catalog', action: "index"}, class: "btn btn-primary" %>

</div>