<div class="postarea">

  <h2>Search blocks</h2>
  <p>On this site a number of Dutch medical information specialists have compiled a number of ‘search blocks’. Search blocks are elements of searches for literature, drafted and published here for re-use. Using these blocks may help you to start a search, to find terms and variations and execute searches more efficiently. The sources of the blocks are mentioned, and e-mail-addresses of the authors can be provided on request.</p>
  <p>These search blocks are drafted for use when performing complex search strategies (for systematic reviews) in medical and health bibliographic databases, like PubMed, Embase, PsycInfo, Web of Science and others. These blocks are intended for use by experts in the field of searching for literature, e.g. information specialists, clinical librarians, health librarians and other professionals in the library and information retrieval field. These search blocks can only be used by these experts, as they can judge the usefulness and applicability and they are also able to change, derive, adapt these blocks for a specific goal and for the intended resources.</p>
  <p>These blocks are basic materials and bear no guarantee, warranty or whatever for completeness, accuracy or validity: what you see is what you get!</p>
  <p>We share these search blocks with colleagues according to the principles of ‘open science’. We hope to receive your feedback, adaptations, remarks and comments on these blocks. We would also like to receive new blocks, which we can publish on this website. If you use (an adaptation) of these blocks please acknowledge this website as the source. This will help the distribution of this information and hopefully increase the number and the quality of the search blocks.</p>
  <p></p>
  <h3>How to use the database</h3>
  <p>Search the database by term (e.g. stroke), you can use asterisks before and after parts of words e.g. *test*. Or search by keyword or creator from the indexes provided.</p>
  <p>To see all blocks click Search without a term in the search box.</p>
  <p>Copy the search block to a Word document or in the search interface of the intended database.</p>
  <p>Per search block information is provided about the creators (authors) and, if applicable, sources. Notes on the use and source of the search block is provided when necessary. The date of the latest revision is mentioned.</p>
  <p>An overview of your recent searches is available on the History page.</p>
  <p>Please check the intended database for changes in search techniques, like operators and field labels. Also check their thesaurus and indexes for the latest changes to the vocabulary.</p>
  <p>You can request a login for this website which allows you to edit, delete or add search blocks. <a href="mailto:h.ket@vu.nl?subject=Search blocks (mail from blocks.bmi-online.nl)">E-mail</a> this request.</p>
  <p></p>
  <h3>License</h3>
  <p>This database is compiled by Hans Ket (medical information specialist, Medical Library, Vrije Universiteit, Amsterdam, The Netherlands), for the study group Biomedical Information of the Dutch Library Association (KNVI) and is subject to a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_BLANK">Creative Commons Attribution-Non-commerical-ShareAlike 4.0 International-license</a>.</p>
  <p>Please <a href="mailto:h.ket@vu.nl?subject=Search blocks (mail from blocks.bmi-online.nl)">e-mail</a> with any questions, remarks etc.</p>

  <div class="clear"></div>

</div>