// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'blacklight/blacklight';
@import 'blacklight_marc';

.admin_versions li {
  list-style: none;
}

.admin_versions .selected {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  padding-left: 5px;
}